<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386071216493-arj43urg2t6gte58tsp30h6gpc91b0j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386071216493-arj43urg2t6gte58tsp30h6gpc91b0j2</string>
	<key>API_KEY</key>
	<string>AIzaSyAwHF1OF6LLt3CSzn9pOkZOQIm8xHP2flM</string>
	<key>GCM_SENDER_ID</key>
	<string>386071216493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.myfood</string>
	<key>PROJECT_ID</key>
	<string>my-food-ea7ff</string>
	<key>STORAGE_BUCKET</key>
	<string>my-food-ea7ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386071216493:ios:2d032fb03a7a1de2355a64</string>
</dict>
</plist>